{{define "page"}}
<h2>Privacy Policy</h2>
  <p>Your privacy is important to us.</p>

  <p>It is EVEData.org's policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.</p>

  <ul>
    <li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
    <li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
    <li>We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.</li>
    <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
    <li>We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
    <li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
    <li>We will only retain personal information for as long as necessary for the fulfilment of those purposes.</li>
    <li>Private data collected from API will only be made public with prior approval.</li>
    <li>Public data collected from API, or private data approved to be made public, will be publicly available. Removal will not be granted under any circumstance.</li>
    <li>We use a cookie to track the authentication session. This cookie will be deleted upon logging out of the account.</li>
    <li>We store supplied accessTokens and refreshTokens for OAuth2 sessions for each character added to an account. Deleting the characters will also delete the accessToken and refreshToken from our database.</li> 
    <li>Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to our website or other websites.</li>
    <li>Google's use of advertising cookies enables it and its partners to serve ads based on their visit to our sites and/or other sites on the Internet.</li>
    <li>Users may opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads" target="_blank">Ads Settings</a>.</li>

  </ul>

  <p>While we cannot guarantee privacy will always be upheld, we are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. EVEData.org may change this privacy policy from time to time at EVEData.org's sole discretion.</p>

<h3>Definitions</h3>
<h4>Personal Information</h4>
<p>We consider personal information to be accessTokens, refreshTokens, and characterNames provided by CCP's OAuth2 SSO.</p>

<h4>Private Data</h4>
<p>Private data are information collected via CCP's authenticated APIs (evemail, wallet transactions, contracts, market orders, etc) or information the user provides to EVEData.org such as alternate characters.</p>

<h4>Public Data</h4>
<p>Public Data are information collected, or deduced from, publicly available API and third parties. This includes but not limited to: killmails, character names, associated alternate characters, event locataions, etc.</p>
{{end}}