{{define "ads-adaptive"}}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- EVEData Responsive -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7592797392299801"
    data-ad-slot="5613186081" data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{end}}

{{define "ads-smallsquare"}}
<!-- Sidebar -->
<ins class="adsbygoogle" style="display:inline-block;width:200px;height:200px" data-ad-client="ca-pub-7592797392299801"
    data-ad-slot="5613186081" data-ad-format="auto">></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{end}}