.navbar-static-top {
    margin-bottom: 19px;
}

html {
    color: #292f33;
    font: normal normal normal 12px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}

body {
	font-size: 12px;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.row-right-align {
	text-align:right
}

.insideContainer {
	border: 1px solid black;
}

.table-of-contents li {
    *display: inline;
    display: inline-block;
    zoom: 1;
}

.table-of-contents li a {
    color: #999;
    font-size: 12px;
}

p + p {
    margin: 30px 0 0 0;
}

.title {
    /* ---------- */
    /* site theme */
    font-size: 64px;
    margin: 20px 0 0 0;
}

.typeahead,
.tt-query,
.tt-hint {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 8px 12px;
    width: 260px;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    -moz-border-radius: 8px;
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    margin: 12px 0;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    line-height: 24px;
    padding: 3px 20px;
}

.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
    font-size: 12px;
}

.gist {
    font-size: 12px;
}

.tt-hint {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #999;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 1.428571429;
    padding: 8px 12px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    vertical-align: middle;
    width: 100%;
}

.tt-dropdown-menu {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    background-color: #ffffff;
	color:	#000000;
    border-radius: 4px;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    margin-top: 2px;
    min-width: 160px;
    padding: 5px 0;
    max-height: 150px;
    overflow-y: auto;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
    background-color: #428bca;
    color: #fff;
}

.tt-suggestion.tt-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

