{{define "body"}}
<script>
	$(document).ready(function() {
				var agents = $('#agents').dataTable( {
	 					"searching": false,
	 					"paging": false,
	 					"scrollY": "200px",
	 					"lengthChange": false,
	 					"info": false,
	 					"order": [[ 1, "asc" ]],
	 					"sAjaxDataProp": "",
	 				    "aoColumns": [
							{ "mData": "agent" },
							{ "mData": "station" },
							{ "mData": "level" },
							{ "mData": "jumps" },
							{ "mData": "security" },
							{ "mData": "corp" },
							{ "mData": "faction" },
							{ "mData": "division" },
						],
						"columnDefs": [
   							{ className: "row-right-align", "targets": [ 1, 2 ] }
  						]
    				} );
			} );
</script>
<h3>Agent Finder</h3>
<div id="systemSearchContainer">
	<input class="typeahead" type="text" placeholder="Solar System Name">

	<button id="highsec" type="button" class="btn btn-primary btn-sm" data-toggle="button">
		High Sec
	</button>
	<button id="locator" type="button" class="btn btn-primary btn-sm" data-toggle="button">
    	Locator
	</button>

	<label>Level
	<select id="level" class="form-control">
    	<option>1</option>
    	<option>2</option>
    	<option selected>3</option>
    	<option>4</option>
    	<option>5</option>
	</select>
	</label>
	<label>Division
	<select id='division' class="form-control">
		<option value="">All</option>
		<option value="22">Distribution</option>
		<option value="23">Mining</option>
		<option value="18">R&D</option>
		<option value="24">Security</option>
	</select>
	</label>
	
	
</div>

<div class="insideContainer">
	<table id="agents" class="table table-striped" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Agent</th>
				<th>Station</th>
				<th>Level</th>
				<th>Jumps</th>
				<th>Sec</th>
				<th>Corporation</th>
				<th>Faction</th>
				<th>Division</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$('#systemSearchContainer')
	.removeClass( 'display' )
	.addClass('table table-striped table-bordered');
	
	
		
	var systemSearch = new Bloodhound({
	   sufficient: 50,
	   limit: 50,
	   datumTokenizer: function (datum) {
	       return Bloodhound.tokenizers.whitespace(datum.value);
	   },
	   queryTokenizer: Bloodhound.tokenizers.whitespace,
	   remote: {
	       url: '/J/knownSpaceSystems?q=%QUERY&hisec=' + $('#highsec').hasClass('active'),
	       filter: function (systemSearch) {
	           return $.map(systemSearch.rows, function (systemSearch) {
	               return {
	                   value: 	systemSearch.SolarSystemName,
	                   id:		systemSearch.SolarSystemID
	               };
	           });
	       }
	   }
	});
	
	// Initialize the Bloodhound suggestion engine
	systemSearch.initialize();
	
	var datum;
	
	$('#systemSearchContainer .typeahead').typeahead(null, {
		name: 'systemSearch',
		limit: 50,
		display: 'value',
		source: systemSearch.ttAdapter()
	}).on('typeahead:selected', function(obj, d, name) {
		// /U/agents?systemID=30000142&characterID=&level=1&division=&jumps=10&sec=1.0&highsec=true&locator=false&_search=false&nd=1434314371046&rows=50&page=1&sidx=&sord=asc
		datum = d;
		updateAgentList();
	});
	
	 $('#highsec').click(function () {
	 	systemSearch.remote.url = '/J/knownSpaceSystems?q=%QUERY&hisec=' + ! $('#highsec').hasClass('active');
	 	updateAgentList();
	 	systemSearch.initialize();
	 	
	 });
	 
	 function updateAgentList() {
	 	$('#agents').dataTable().api().ajax.url('/U/agents?systemID='+datum.id+"&level="+$('#level').val()).load();
	 }
	 
</script>
{{end}}