{{define "body"}}

<h3>Arbitrage Calculator</h3>

<div id="MarginSearchContainer" class="form-group">
	<label>Station:</label>
	<select class="form-control" name="stationID" id="stationID"></select>
	<div class="row">
	  	<div class="col-xs-3">
    		<label>Age (hours):</label>
    		<input id="hours" type="number" step="1" min=4 class="form-control" value="24">
  		</div>
  		<div class="col-xs-3">
    		<label>Brokers Fee:</label>
    		<input id="brokersFee" type="number" step="0.01" min=0 class="form-control" value="3.00">
  		</div>
  		<div class="col-xs-3">
    		<label>Tax:</label>
    		<input id="tax" type="number" step="0.01" min=0 class="form-control" value="1.00">
  		</div>
	</div>
	<div class="row">
  		<div class="col-xs-3">
    		<label>Minimum Volume:</label>
    		<input id="minVolume" type="number" step="1" min=1 class="form-control" value="25">
  		</div>
  		<div class="col-xs-5">
    		<label>Max Item Price:</label>
    		<input id="maxPrice" type="number" step="1" min=50000 class="form-control" value="100000000">
  		</div>
  		<div class="col-xs-5">
    		<button type="submit" id="submit" class="btn btn-primary">Apply</button>
  		</div>
  		
	</div>
</div>
<div class="insideContainer">
	<table id="margins" class="table" 
		data-sort-name="margin"
        data-sort-order="desc"
        data-cache="true" 
		data-toggle="table" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th data-field="typeName">Item Name</th>
				<th data-field="margin" data-formatter="priceFormatter">Margin</th>
				<th data-field="volume" data-formatter="priceFormatter">Volume</th>
				<th data-field="buys" data-formatter="priceFormatter">Buy Orders</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
</div>

<script type="text/javascript">
  function priceFormatter(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        
        return x1 + x2;
    }

    $.ajax({
        url: '/J/arbitrageCalculatorStations',
        dataType: 'JSON',
        success: function(data) {
            $.each(data, function(key, val) {
                $('#stationID').append('<option id=' + val.stationID + '>' + val.stationName + '</option>');
            })
			updateTable();
        },
        error: function() { }
    });

	function updateTable() {
		$('#margins').bootstrapTable('refreshOptions', {
			url: '/J/arbitrageCalculator' +
				'?stationID='+$('#stationID option:selected').attr("id") +
				'&hours=' + $('#hours').val() +
				'&brokersFee=' + $('#brokersFee').val() +
				'&tax=' + $('#tax').val() +
				'&minVolume=' + $('#minVolume').val() +
				'&maxPrice=' + $('#maxPrice').val()
		});	
	}
	$('#submit').click(function(){
		updateTable();
	});
	</script>
{{end}}