{{define "body"}}
	{{if .Alliance }} 
		{{ template "alliance" . }}
	{{else if .Corporation }} 
		{{ template "corporation" . }}
	{{else if .Character }} 
		{{ template "character" . }}
	{{end}}
{{end}}


{{define "corporation"}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<img alt="{{.Corporation.CorporationName}}" src="//image.eveonline.com/corporation/{{.Corporation.CorporationID}}_128.png" />
		</div>
		<div class="col-md-10">
			<dl>
				<dt>
					<h2>{{.Corporation.CorporationName}}</h2>
					CEO: <a href="/character?id={{.Corporation.CEOID}}">{{.Corporation.CEOName}}</a><br>
					{{if .Corporation.AllianceID }} 
						Alliance: <a href="/alliance?id={{.Corporation.AllianceID}}">{{.Corporation.AllianceName.String}}</a><br>
					{{end}}
				</dt>
				<dd>
					{{.Corporation.Description}}
				</dd>
			</dl>
		</div>
	</div>

	{{ template "wars" . }}
	{{ template "knownallies" . }}
	{{ template "activity" . }}
	{{ template "assets" . }}
	{{ template "knownships" . }}

{{end}}

{{define "character"}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<img alt="{{.Character.CharacterName}}" src="//image.eveonline.com/character/{{.Character.CharacterID}}_128.jpg" />
		</div>
		<div class="col-md-10">
			<dl>
				<dt>
					<h2>{{.Character.CharacterName}}</h2>
					Security: {{.Character.SecurityStatus}}</a><br>
					Corporation: <a href="/corporation?id={{.Character.CorporationID}}">{{.Character.CorporationName}}</a><br>
					{{if .Character.AllianceID }} 
						Alliance: <a href="/alliance?id={{.Character.AllianceID}}">{{.Character.AllianceName.String}}</a><br>
					{{end}}
				</dt>

			</dl>
		</div>
	</div>
	{{ template "activity" . }}
	{{ template "knownships" . }}
	
{{end}}

{{define "alliance"}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<img alt="{{.Alliance.AllianceName}}" src="//image.eveonline.com/Alliance/{{.Alliance.AllianceID}}_128.png" />
		</div>
		<div class="col-md-10">
			<dl>
				<dt>
					<h2>{{.Alliance.AllianceName}}</h2>
					Executor: <a href="/corporation?id={{.Alliance.ExecutorCorporationID}}">{{.Alliance.ExecutorCorporationName}}</a>
				</dt>
				<dd style ="white-space: pre-wrap;">{{.Alliance.Description}}</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		{{ template "wars" . }}
		{{ template "knownallies" . }}
		{{ template "activity" . }}
		{{ template "assets" . }}
		{{ template "knownships" . }}
		
		<div class="col-md-6">
			<h2>
				Corporations
			</h2>	
			<table id="corporations"
               data-sort-name="name"
               data-pagination="true"
               data-search="true"
               data-sort-order="asc">
            <thead>
            <tr>
                <th data-field="name" data-sortable="true" data-formatter="entityFormatter">Name</th>
                <th data-field="memberCount" data-sortable="true">Members</th>
            </tr>
            </thead>
        </table>
			<script>
				var $corpTable = $('#corporations');
			    $(function () {
       				 var corporations = 
       				 	[			 	
			      				{{ range $key, $corp := .AllianceMembers }}
			      				{
       				 				"memberCount": {{ $corp.MemberCount }},
       				 				"name": {{ $corp.CorporationName }},
       				 				"id": {{ $corp.CorporationID }},
       				 				"type": "corporation",
								},
						{{ end }}       				 	
					];
				
       				$corpTable.bootstrapTable({data: corporations});
       			});
       		</script>
		</div>
	


	</div>
</div>

{{end}}


{{define "wars"}}
	{{if .Wars }} 
		<div class="col-md-6">
			<h2>
				Active Wars
			</h2>	
			<table id="wars"
               data-sort-name="aggressorName"
               data-pagination="true"
               data-search="true"
               data-sort-order="asc">
            <thead>
            <tr>
				<th data-field="aggressorName" data-formatter="aggressorFormatter">Aggressor</th>
				<th data-field="defenderName" data-formatter="defenderFormatter">Defender</th>
				<th data-field="kills" data-sortable="true">Kills</th>
				<th data-field="losses" data-sortable="true">Losses</th>
            </tr>
            </thead>
        </table>
			<script>
				var $warTable = $('#wars');
			    $(function () {
       				 var wars = 
       				 	[			 	
			      				{{ range $key, $war := .Wars }}
			      				{
       				 				"aggressorName": {{ $war.AggressorName }},
       				 				"aggressorType": {{ $war.AggressorType }},
       				 				"aggressorID": {{ $war.AggressorID }},
       				 				"defenderName": {{ $war.DefenderName }},
       				 				"defenderType": {{ $war.DefenderType }},
       				 				"defenderID": {{ $war.DefenderID }},
       				 				"kills": {{ $war.Kills }},
       				 				"losses": {{ $war.Losses }},
       				 				"warID": {{ $war.WarID }},
								},
						{{ end }}       				 	
					];
				
       				$warTable.bootstrapTable({data: wars});
       			});
       		</script>
		</div>
	{{end}}
{{end}}

{{define "activity"}}
	{{if .Activity }} 
		<div class="col-md-6">
			<h2>
				Active Constellations
			</h2>	
			<table id="activity"
               data-sort-name="number"
               data-pagination="true"
               data-search="true"
               data-sort-order="desc">
            <thead>
            <tr>
				<th data-field="number">#</th>
				<th data-field="regionName" data-sortable="true">Region</th>
				<th data-field="constellationName" data-sortable="true">Constellation</th>
				<th data-field="solarSystemNames" data-sortable="true">Solar Systems</th>
            </tr>
            </thead>
        </table>
			<script>
				var $activityTable = $('#activity');
			    $(function () {
       				 var activity = 
       				 	[			 	
			      				{{ range $key, $v := .Activity }}
			      				{
       				 				"number": {{ $v.Number }},
       				 				"regionName": {{ $v.RegionName }},
       				 				"constellationName": {{ $v.ConstellationName }},
       				 				"solarSystemNames": {{ $v.SolarSystemNames }},
								},
						{{ end }}       				 	
					];
				
       				$activityTable.bootstrapTable({data: activity});
       			});
       		</script>
		</div>
	{{end}}
{{end}}

{{define "knownships"}}
	{{if .KnownShips }} 
		<div class="col-md-6">
			<h2>
				Known Ships
			</h2>	
			<table id="knownships"
               data-sort-name="number"
               data-pagination="true"
               data-search="true"
               data-sort-order="desc">
            <thead>
            <tr>
				<th data-field="number">#</th>
				<th data-field="shipName" data-sortable="true">Ship Name</th>
            </tr>
            </thead>
        </table>
			<script>
				var $knownshipsTable = $('#knownships');
			    $(function () {
       				 var knownships = 
       				 	[			 	
			      				{{ range $key, $v := .KnownShips }}
			      				{
       				 				"number": {{ $v.Number }},
       				 				"shipName": {{ $v.ShipName }},
       				 				"shipType": {{ $v.ShipType }},
								},
						{{ end }}       				 	
					];
				
       				$knownshipsTable.bootstrapTable({data: knownships});
       			});
       		</script>
		</div>
	{{end}}
{{end}}

{{define "knownallies"}}
	{{if .KnownAllies }} 
		<div class="col-md-6">
			<h2>
				Known Allies
			</h2>	
			<table id="knownallies"
               data-sort-name="number"
               data-pagination="true"
               data-search="true"
               data-sort-order="desc">
            <thead>
            <tr>
				<th data-field="number">#</th>
				<th data-field="name" data-sortable="true" data-formatter="entityFormatter">Ally Name</th>
            </tr>
            </thead>
        </table>
			<script>
				var $knownalliesTable = $('#knownallies');
			    $(function () {
       				 var knownallies = 
       				 	[			 	
			      				{{ range $key, $v := .KnownAllies }}
			      				{
       				 				"number": {{ $v.Number }},
       				 				"type": {{ $v.Type }},
       				 				"name": {{ $v.Name }},
       				 				"id": {{ $v.AllyID }},
								},
						{{ end }}       				 	
					];
				
       				$knownalliesTable.bootstrapTable({data: knownallies});
       			});
       		</script>
		</div>
	{{end}}
{{end}}

{{define "assets"}}
	{{if .Assets }} 
		<div class="col-md-6">
			<h2>
				Possible Assets In Space
			</h2>
			Note: Citadels may show as fighter drones.
			<table id="assets"
               data-sort-name="lastSeen"
               data-pagination="true"
               data-search="true"
               data-sort-order="desc">
            <thead>
            <tr>
				<th data-field="itemName">Near</th>
				<th data-field="typeName" data-sortable="true">Type</th>
				<th data-field="security" data-sortable="true">Security</th>
				<th data-field="lastSeen" data-sortable="true">Last Seen</th>
            </tr>
            </thead>
        </table>
			<script>
				var $assetsTable = $('#assets');
			    $(function () {
       				 var assets = 
       				 	[			 	
			      				{{ range $key, $v := .Assets }}
			      				{
       				 				"itemName": {{ $v.ItemName }},
       				 				"typeName": {{ $v.TypeName }},
       				 				"security": {{ $v.Security }},
       				 				"lastSeen": {{ $v.LastSeen }},
								},
						{{ end }}       				 	
					];
				
       				$assetsTable.bootstrapTable({data: assets});
       			});
       		</script>
		</div>
	{{end}}
{{end}}