{{define "body"}}
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
<h2>Market Browser</h2>

<style type="text/css"> 
#itemList a { font-size:9px; }
#itemList {height:500px; width:300px; overflow:auto; border:1px solid black}
</style>

<div id="remote">
  <input class="typeahead" type="text" placeholder="Item Search">
</div>

<table><tr><td><input type="hidden" id="selectedItem" name="selectedItem">
<input type="hidden" id="searchItems" name="searchItems">
<div id="itemList" class="itemList"></div>
</td><td>
<table id="sellOrders" class="sellOrders"></table>
<table id="buyOrders" class="buyOrders"></table>
</td></tr></table>

<script type="text/javascript">
var itemSearch = new Bloodhound({
    sufficient: 25,
    limit: 25,
    datumTokenizer: function (datum) {
        return Bloodhound.tokenizers.whitespace(datum.value);
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
        url: '/J/searchItems?q=%QUERY',
        filter: function (itemSearch) {
            return $.map(itemSearch.rows, function (itemSearch) {
                return {
                    value: itemSearch.TypeName
                };
            });
        }
    }
});

// Initialize the Bloodhound suggestion engine
itemSearch.initialize();

$('#remote .typeahead').typeahead(null, {
  name: 'itemSearch',
  limit: 25,
  display: 'value',
  source: itemSearch.ttAdapter()
});
 
</script>
{{end}}