{{define "body"}}
<h3>Share Locator Results</h3>
{{template "checkAuthentication" .}}
<p>Add entities that you wish to share locator agent searchs with. These entities will be able to see locator responses from any character on the account page.</p>
	<div class="table-responsive">
		<div class="toolbar locatorSharestokenToolbar" id="locatorSharestokenToolbar">
			<div class="dropdown">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" id="addEntity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Add Entity
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" id="addEntityMenu" aria-labelledby="addEntity">
					{{ range $scope, $reason := .ScopeGroups }}
						<li><a href="#" id="{{ $scope }}" class="small characterScopes" data-value="{{ $scope }}" tabIndex="-1"><input type="checkbox" CHECKED>&nbsp;{{ $reason }}</a></li>
					{{ end }}   
					<br> 
					<li>
						<a class="addlocatorShares btn btn-default" href="javascript:">Add Entity</a>
					</li> 
				</ul>
			</div>
		</div>

		<table class="table" data-show-refresh="true" data-cache="false" data-toolbar=".locatorSharestokenToolbar"
			data-url="/U/locatorShares" id="locatorSharestable">
			<thead>
				<tr>
					<th data-field="entityName" data-formatter="entityFormatter">Entity</th>
					<th data-align="center" data-events="actionEvents"
					data-field="action" data-formatter="LocationShareActionsFormatter">
					Action</th>
				</tr>
			</thead>
		</table>
	</div>

	<script>
		var 	$locatorSharestable = $('#locatorSharestable').bootstrapTable({url: "/U/locatorShares"}, "changeLocale", "en_US");
				
		$(function () {
			// locatorShares token click event
			$('.addlocatorShares').click(function () {
				var scopeGroups = [];
				$('.characterScopes input:checkbox:checked').each(function(idx, val){
					scopeGroups.push(val.parentElement.id);
				});

				if (scopeGroups.length) {
					window.location.replace("/X/eveTokenAuth?scopeGroups=" + scopeGroups.join(","));
				} else {
					window.location.replace("/X/eveTokenAuth");
				}
			});
		});
		
		function queryParams(params) {
			return {};
		}

		function accountNameFormatter(value, row) {
			var scopes = row.scopes.replace(/\s+/g,  "\n");
			return '<i class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="'+ scopes +'"><\/i> &nbsp; ' + value;
		}

		function LocationShareActionsFormatter(value, row) {
			
			return [
				'<a class="removelocatorShares" href="javascript:" title="Delete Item"><i class="glyphicon glyphicon-remove-circle"><\/i><\/a>',
			].join('');
		}
		// update and delete events
		window.actionEvents = {
			'click .removelocatorShares': function (e, value, row) {
				if (confirm('Are you sure you want to delete this token?')) {
					$.ajax({
						url: "/U/locatorShares?entityID=" + row.id,
						type: 'delete',
						success: function () {
							$locatorSharestable.bootstrapTable('refresh');
							showAlert('Delete item successful!', 'success');
						},
						error: function () {
							showAlert('Delete item error!', 'danger');
						}
					})
				}
			}
		};
	</script>
{{end}}