{{define "body"}}
<h3>Losses in Highsec (last 60 days)</h3>
A list of entities who have lost a large number of ships in highsec over the last 60 days.
<div class="insideContainer">
	<table id="lossesinhighsecTable" class="table" 
		data-sort-name="number"
        data-sort-order="desc"
        data-url="/J/lossesInHighsec"
		data-toggle="table"
		data-cache="true" 
        data-search="true"
        data-show-refresh="true"
        data-show-columns="true"
        data-page-size="50"
        data-pagination="true"
        data-page-list="[50, 100, ALL]"
        data-show-footer="false"
        data-side-pagination="client"
		cellspacing="0" width="100%">
		<thead>
			<tr>
				<th data-field="number" data-sortable="true" data-visible="true">Number</th>
				<th data-field="name" data-formatter="entityFormatter">Name</th>
				<th data-field="efficiency" data-sortable="true" data-formatter="capabilityFormatter">Aggressor Capability</th>
				<th data-field="members" data-sortable="true" data-visible="true">Members</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
{{end}}