{{define "body"}}
<h3>Fighters lost in Highsec</h3>
Report shows fighters that have been lost in highsec withing the last seven days.
<div class="insideContainer">
	<table id="activeWarTable" class="table" 
		data-sort-name="warKills"
        data-sort-order="desc"
        data-url="/J/lostFighters"
		data-toggle="table"
		data-cache="true" 
        data-search="true"
        data-show-refresh="true"
        data-show-columns="true"
        data-minimum-count-columns="2"
        data-pagination="true"
        data-page-list="[10, 25, 50, 100, ALL]"
        data-show-footer="false"
        data-side-pagination="client"
		cellspacing="0" width="100%">
		<thead>
			<tr>
				<th data-field="loss" data-formatter="zkillFormatter" data-sortable="true" data-visible="true">Loss</th>
				<th data-field="allianceName" data-formatter="allianceFormatter">Alliance</th>
				<th data-field="corporationName" data-formatter="corporationFormatter">Corporation</th>
				<th data-field="solarSystemName" data-sortable="true" data-visible="true">Solar System</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
{{end}}