kind: Service
apiVersion: v1
metadata:
  name: sql
  namespace: storage
spec:
  ports:
  - port: 3306
  selector:
    name: sql
---
kind: Service
apiVersion: v1
metadata:
  name: sql
  namespace: evedata
spec:
  type: ExternalName
  externalName: sql.storage.svc.cluster.local
  ports:
  - port: 3306
---
apiVersion: v1
kind: Pod
metadata:
  name: sql
  namespace: storage
spec:
  restartPolicy: Always
  nodeSelector:
    database: mysql
  containers:
  - image: percona/percona-server:5.7
    name: sql
    ports:
    - containerPort: 3306
      name: transport
      protocol: TCP
    volumeMounts:
    - name: sql-data
      mountPath: /var/lib/mysql
    - name: config-volume
      mountPath: /etc/mysql/conf.d
    env:
    - name: INIT_TOKUDB
      value: "1"
    - name: MYSQL_RANDOM_ROOT_PASSWORD
      value: "1"
  volumes:
  - name: host-sys
    hostPath:
      path: /sys
  - name: sql-data
    hostPath:
      path: /data/mysql
      type: DirectoryOrCreate
  - configMap:
      name: sql-config
    name: config-volume        
  initContainers:
  - image: busybox
    name: setup-hugepage
    volumeMounts:
    - name: host-sys
      mountPath: /host-sys
    command: ["sh", "-c",]
    args:
      - echo never > tee /host-sys/kernel/mm/transparent_hugepage/enabled;
        echo never > tee /host-sys/kernel/mm/transparent_hugepage/defrag;
    securityContext:
      privileged: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sql-config
  namespace: storage
data:
  my.cnf: |
    [mysqld_safe]
    nice            = -19

    [client]
    default-character-set=utf8

    [mysql]
    default-character-set=utf8

    [mysqld]
    collation-server = utf8_unicode_ci
    init-connect='SET NAMES utf8'
    character-set-server = utf8
    require_secure_transport = ON

    # log to syslog
    log_syslog              = 1

    skip-log-bin
    default_storage_engine=TokuDB

    bind-address            = 0.0.0.0

    # optimizations
    skip-name-resolve
    max_prepared_stmt_count = 104857
    thread_pool_size        = 16
    innodb_buffer_pool_size = 8M
    innodb_buffer_pool_instances = 1
    innodb_log_buffer_size  = 8M
    innodb_log_file_size    = 8M
    innodb_flush_log_at_trx_commit = 0
    innodb_thread_concurrency = 0
    wait_timeout            = 340
    interactive_timeout     = 580
    max_connections         = 2046
    thread_cache_size       = 10M
    query_cache_size        = 0
    query_cache_type        = 0
    sort_buffer_size        = 20M
    read_rnd_buffer_size    = 20M
    join_buffer_size        = 512K