apiVersion: v1
kind: Namespace
metadata:
  name: evedata
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: evedata-artifice
  namespace: evedata
spec:
  replicas: 1
  template:
    metadata:
      name: evedata-artifice
      labels:
        app: artifice
        esi-connector: "true"
      annotations:
        prometheus.io/scrape: "true"
    spec:
      nodeSelector:
        worker: worker
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: esi-connector
                operator: In
                values:
                - "true"
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: evedata-artifice
        image: antihax/evedata-artifice
        imagePullPolicy: Always
        env:
        - name: ESI_SECRET_TOKENSTORE
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: secret-tokenstore
        - name: ESI_CLIENTID_TOKENSTORE
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: clientID-tokenstore
        - name: SQLAUTH
          valueFrom:
            secretKeyRef:
              name: sql-password
              key: sqlauth
        - name: ESI_REFRESHKEY
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: refreshKey
        - name: ESI_REFRESHCHARID
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: refreshCharID
        ports:
        - containerPort: 3000
        volumeMounts:
        - mountPath: /etc/ssl/certs
          name: ca-certs
      volumes:
      - name: ca-certs
        hostPath:
          path: /etc/ssl/certs
          type: Directory
