apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: evedata-hammer
  namespace: evedata
spec:
  replicas: 3
  template:
    metadata:
      name: evedata-hammer
      labels:
        app: evedata
      annotations:
        prometheus.io/scrape: "true"
    spec:
      containers:
      - name: evedata-hammer
        image: antihax/evedata-hammer
        imagePullPolicy: Always
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-password
              key: password
        - name: ESI_SECRET
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: secret
        - name: ESI_CLIENTID
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: clientID
        - name: ESI_REFRESHKEY
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: refreshKey
        ports:
        - containerPort: 3000
        volumeMounts:
        - mountPath: /etc/ssl/certs
          name: ca-certs
      volumes:
      - name: ca-certs
        hostPath:
          path: /etc/ssl/certs
          type: Directory
