apiVersion: v1
kind: Namespace
metadata:
  name: evedata
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: evedata-marketwatch
  namespace: evedata
spec:
  nodeSelector:
    database: mysql
  replicas: 1
  template:
    metadata:
      name: evedata-marketwatch
      labels:
        app: marketwatch
      annotations:
        prometheus.io/scrape: "true"
    spec:
      nodeSelector:
        database: mysql
      containers:
      - name: evedata-marketwatch
        image: antihax/evedata-marketwatch
        imagePullPolicy: Always
        env:
        - name: SQLAUTH
          valueFrom:
            secretKeyRef:
              name: sql-password
              key: sqlauth
        - name: ESI_SECRET_TOKENSTORE
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: secret-tokenstore
        - name: ESI_CLIENTID_TOKENSTORE
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: clientID-tokenstore
        - name: ESI_REFRESHKEY
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: refreshKey
        ports:
        - containerPort: 3000
        volumeMounts:
        - mountPath: /etc/ssl/certs
          name: ca-certs
      volumes:
      - name: ca-certs
        hostPath:
          path: /etc/ssl/certs
          type: Directory

