apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: evedata-vanguard
  namespace: evedata
spec:
  replicas: 3
  template:
    metadata:
      name: evedata-vanguard
      labels:
        app: vanguard
      annotations:
        prometheus.io/scrape: "true"
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - vanguard
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: evedata-vanguard
        image: antihax/evedata-vanguard
        imagePullPolicy: Always
        livenessProbe:
          initialDelaySeconds: 1
          periodSeconds: 1
          httpGet:
            path: /healthz
            port: 3000
        env:
        - name: SQLAUTH
          valueFrom:
            secretKeyRef:
              name: sql-password
              key: sqlauth
        - name: ESI_REFRESHKEY
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: refreshKey
        - name: ESI_SECRET_TOKENSTORE
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: secret-tokenstore
        - name: ESI_CLIENTID_TOKENSTORE
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: clientID-tokenstore
        - name: ESI_SECRET_SSO
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: secret-sso
        - name: ESI_CLIENTID_SSO
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: clientID-sso
        - name: DISCORD_SECRET
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: secret-discord
        - name: DISCORD_CLIENTID
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: clientID-discord              
        - name: COOKIE_SECRET
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: cookie-secret
        - name: DOMAIN
          valueFrom:
            secretKeyRef:
              name: esi-secret
              key: domain
        ports:
        - containerPort: 3000
        volumeMounts:
        - mountPath: /etc/ssl/certs
          name: ca-certs
      volumes:
      - name: ca-certs
        hostPath:
          path: /etc/ssl/certs
          type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: vanguard
  namespace: evedata
spec:
  selector:
    app: vanguard
  ports:
  - name: vanguard
    protocol: TCP
    port: 3000
    targetPort: 3000
