{{define "body"}}
<h3>Characters</h3>
{{template "checkAuthentication" .}}
<p>Adding characters to your account opens up more features of our website.<br>If you are not comfortable sharing some information, such as wallet journals, etc. You can disable groups of scopes by unchecking the option before adding the character.<br>Should you ever wish to change scopes, add the same character a second time and it will overwrite the available scopes.</p>
	<script>
		var options = [];
		$('body').on('click', function(event) {
			var $target = $(event.target);
			if ($target.hasClass('characterScopes')) {
				
				var val = $target.attr( 'data-value' ),
					$inp = $target.find( 'input' ),
					idx;

				if ((idx = options.indexOf(val)) > -1 ) {
					options.splice(idx, 1);
					setTimeout(function() { $inp.prop('checked', true ) }, 0);
				} else {
					options.push( val );
					setTimeout(function() { $inp.prop('checked', false) }, 0);
				}

				$( event.target ).blur();
				return false;
			}
		});	
	</script>

	<div class="table-responsive">
		<div class="toolbar cresttokenToolbar" id="cresttokenToolbar">
			<div class="dropdown">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" id="addChar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Add Character
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" id="addCharMenu" aria-labelledby="addChar">
					{{ range $scope, $reason := .ScopeGroups }}
						<li><a href="#" id="{{ $scope }}" class="small characterScopes" data-value="{{ $scope }}" tabIndex="-1"><input type="checkbox" CHECKED>&nbsp;{{ $reason }}</a></li>
					{{ end }}   
					<br> 
					<li>
						<a class="addcrest btn btn-default" href="javascript:">Add Character</a>
					</li> 
				</ul>
			</div>
		</div>

		<table class="table" data-show-refresh="true" data-cache="false" data-toolbar=".cresttokenToolbar"
			data-url="/U/CRESTTokens" id="cresttable">
			<thead>
				<tr>
					<th data-align="center" data-field="authCharacter" data-events="actionEvents" 
						data-formatter="authFormatter">Auth</th>
					<th data-field="characterName">Name</th>
					<th data-field="scopes">Scope Groups</th>
					<th data-field="lastStatus">Last Status</th>
					<th data-align="center" data-events="actionEvents"
						data-field="action" data-formatter="deleteFormatter">
							Delete</th>
				</tr>
			</thead>
		</table>
	<p style="font-size: 12px">Note: You will need to press CANCEL on the EVE Logon to relog on and add characters from alternate accounts.</p>
	<br><br><br><br><br><br><br><br><br><br>
	</div>

	<script>
		var 	$cresttable = $('#cresttable').bootstrapTable({url: "/U/crestTokens"}, "changeLocale", "en_US");
				
		$(function () {
			// crest token click event
			$('.addcrest').click(function () {
				var scopeGroups = [];
				$('.characterScopes input:checkbox:checked').each(function(idx, val){
					scopeGroups.push(val.parentElement.id);
				});

				if (scopeGroups.length) {
					window.location.replace("/X/eveTokenAuth?scopeGroups=" + scopeGroups.join(","));
				} else {
					window.location.replace("/X/eveTokenAuth");
				}
			});
		});
		
		function queryParams(params) {
			return {};
		}

		function authFormatter(value, row) {
			if (value == 0) {
				value = "&#10008;";
			} else {
				value = "&#9989;";
			}
			return '<a class="toggleauth" style="text-decoration: none;" href="javascript:void(0)" title="Toggle Authentication">'+value+'<\/a>' ;
		}

		function deleteFormatter(value, row) {
			return [
				'<a class="removecrest" style="text-decoration: none;" href="javascript:void(0)" title="Delete '+row.characterName+'">&#10006;<\/a>',
			].join('');
		}
		// update and delete events
		window.actionEvents = {
			'click .removecrest': function (e, value, row) {
				if (confirm('Are you sure you want to delete this token?')) {
					$.ajax({
						url: "/U/crestTokens?tokenCharacterID=" + row.tokenCharacterID,
						type: 'delete',
						success: function () {
							$cresttable.bootstrapTable('refresh');
							showAlert('Deleted ' + row.characterName +'!', 'success');
						},
						error: function () {
							showAlert('Delete item error!', 'danger');
						}
					})
				}
			},
			'click .toggleauth': function (e, value, row) {
				if (row.authCharacter == 1 || confirm('You are about to turn on authentication for ' + row.characterName + '.\n\nThis will allow the corporation this character is a member of to identify them on EVEData.org for authentication purposes with services like Discord, TeamSpeak, or Slack.\n\nAre you sure you wish to do this?')) {
					$.ajax({
						url: "/U/toggleAuth?tokenCharacterID=" + row.tokenCharacterID,
						type: 'post',
						success: function () {
							$cresttable.bootstrapTable('refresh');
							showAlert('Authentication changed for ' + row.characterName +'!', 'success');
						},
						error: function () {
							showAlert('Error changing authentication state!', 'danger');
						}
					})
				}
			}
		};
	</script>
{{end}}