{{define "body"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.10.0/js-yaml.min.js"></script>
<h3 id="serviceName">serviceName</h3>
<h4 id="integrationType">Integration Type</h4>

{{template "checkAuthentication" .}}
	<div class="modal fade" id="adddiscord">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-label="Close" class="close" data-dismiss=
					"modal" type="button"><span aria-hidden=
					"true">&times;</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<p>Add a discord server! You must have director roles in the corporation to perform this action.</p>
					<ol>
						<li><a href="https://discordapp.com/api/oauth2/authorize?client_id=229339294144135169&permissions=1543765239&scope=bot" target="_new">Click to have our bot join your Discord</a>.</li>
						<li>Right click your discord server from the discord UI and select <i>Copy ID</i></li>
						<li>Paste the ID in the Discord Server ID field.</li>
						<li>Select a corporation below which you have director access with</li>
					</ol>
					<div class="form-group">
						<label>Owning Entity</label> <select class="form-control" name="entity" id="entity"></select>
						<label>Discord Server ID</label> <input class="form-control" name="serverID" id="serverID"></select>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type=
					"button">Close</button> <button class=
					"btn btn-primary submit" type="button">Submit</button>
				</div>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<div class="toolbar channelsToolbar" id="channelsToolbar">
			<h4>Integrated Channels</h4>
			<div class="dropdown">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" id="addChannel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Add Channel
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" id="addChanelMenu" aria-labelledby="addChannel">
					<li>
						<a class="adddiscord btn btn-default" href="javascript:">Add Discord</a>
					</li> 
				</ul>
			</div>
		</div>

		<table class="table" data-cache="false" data-toolbar=".channelsToolbar" id="channelsTable">
			<thead>
				<tr>
					<th data-field="channelName">Channel Name</th>
					<th data-field="channelID">ChannelID</th>
					<th data-field="services">Services</th>
					<th data-field="options" data-formatter="yamlFormatter">Options</th>
					<th data-align="center" data-events="actionEvents"
					data-field="action" data-formatter="ChannelsActionsFormatter">Delete</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="table-responsive">
		<div class="toolbar sharesToolbar" id="sharesToolbar">
			<h4>Characters Sharing Data</h4>
		</div>
		<table class="table" data-cache="false" data-toolbar=".sharesToolbar" id="sharesTable">
			<thead>
				<tr>
					<th data-field="tokenCharacterName" data-formatter="tokenCharacterFormatter">Character</th>
					<th data-field="entityName" data-formatter="entityTypeFormatter">Entity</th>
					<th data-field="types">Types</th>
					<th data-field="ignored" data-align="center" data-events="actionEvents" data-formatter="ShareActionsFormatter">Ignore</th>
				</tr>
			</thead>
		</table>
	</div>

	<script>		
		var	$adddiscord = $('#adddiscord').modal({show: false}),
			$channelsTable = $('#channelsTable').bootstrapTable({},"changeLocale", "en_US"),
			$sharesTable = $('#sharesTable').bootstrapTable({},"changeLocale", "en_US");
	
		$('.adddiscord').click(function () {
			$adddiscord.find('.modal-title').text("Add Discord");
			$adddiscord.modal('show');
		});

		$(function () {
			updateService();
		});
		function ChannelsActionsFormatter(value, row) {
			return [
				'<a class="removeChannel" href="javascript:" title="Delete Item"><i class="glyphicon glyphicon-remove-circle"><\/i><\/a>',
			].join('');
		}

		function ShareActionsFormatter(value, row) {
			console.log(value);
			if (value == 1) {
				value = "&#10003;";
			} else {
				value = "&#10008";
			}
			return '<a class="toggleignore" style="text-decoration: none;" href="javascript:void(0)" title="Toggle Ignore">'+value+'<\/a>' ;
		}

		function yamlFormatter(value, row) {
			return '<pre>' + jsyaml.safeDump(value) + '</pre>';
		}

		// update and delete events
		window.actionEvents = {
			'click .removeChannel': function (e, value, row) {
				if (confirm('Are you sure you want to delete this server?')) {
					$.ajax({
						url: "/U/botChannels?botServerID=" + row.botServiceID,
						type: 'delete',
						success: function () {
							$channelsTable.bootstrapTable('refresh');
							showAlert('Delete item successful!', 'success');
						},
						error: function () {
							showAlert('Delete item error!', 'danger');
						}
					})
				}
			},
			'click .toggleignore': function (e, value, row) {
				console.log(row);
				$.ajax({
					url: "/U/botShareToggleIgnore?tokenCharacterID=" + row.tokenCharacterID + "&botServiceID="+ row.botServiceID,
					type: 'post',
					success: function () {
						updateService();
						showAlert('Ignore state changed for ' + row.tokenCharacterName +'!', 'success');
					},
					error: function () {
						showAlert('Error changing authentication state!', 'danger');
					}
				})
			}
		};
		$adddiscord.find('.submit').click(function () {
			$.ajax({
				type: "POST",
				url: "/U/botServicesDiscord",
				data: {
					entityID: $('#entity').children(":selected").attr("id"),
					serverID: $('#serverID').val(),
				}
			})
			.done(function() {
				$channelsTable.bootstrapTable('refresh');
				$adddiscord.modal('hide');
				})
			.fail(function(error) {
				$adddiscord.modal('hide');
				showAlert( 'Add Discord Failed: ' + error.responseText, 'danger');
			});
		});

	function updateService() {
		$.ajax({
				url: '/U/botDetails?serviceID=' + getUrlVars()["serviceID"],
				dataType:'JSON',
				success:updateServiceData,
				error:function(err){
					alert("Could not find information on this service: " + err.responseText)
				}
			});
	}
	function updateServiceData(d) {
		$("#serviceName").html(d.name);
		$("#integrationType").html(d.type).css('textTransform', 'capitalize');
		$channelsTable.bootstrapTable('load', d.Channels);
		$sharesTable.bootstrapTable('load', d.Shares);
	}
	</script>
{{end}}