{{define "OpenGraph"}}
<meta property="og:title" content="EVEData: Killmail Attributes" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://www.evedata.org/images/icon.png" />
<meta property="og:description" content="Browse the 10,000 most recent killmails by ship attributes. Find the flavor of the month, or whacky fringe fits." />
{{end}}
{{define "Head"}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dc/3.0.6/dc.css" integrity="sha256-ACDRNg4XMj44gU4axHnGqrSOjcSnoARDUboXDFX3FiY="
    crossorigin="anonymous" />
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/dc/3.0.6/dc.min.js"></script> 
<style>
    .dc-chart g.row text {
        fill: black;
    }
</style>
{{end}}
{{define "body"}}
<h3>Killmail Attribute Browser</h3>
Data represents 10,000 most recent killmails for a ship group type. Filter by drawing a brush on the scatterplot and clicking the ship type. Some attributes are hidden and can be added to the table.
<div>
    <select class="selectpicker form-control" data-width="auto" name="groupID" id="groupID"></select>
    <select class="selectpicker form-control axisChanger" data-width="auto" name="xAxis" id="xAxis">
        <option data-icon="fa fa-times" value="rps">RPS</option>
        <option data-icon="fa fa-times" value="ehp">EHP</option>
        <option data-icon="fa fa-times" value="speed">MWD Speed</option>
    </select>
    <select class="selectpicker form-control axisChanger" data-width="auto" name="yAxis" id="yAxis">
        <option data-icon="fab fa-yahoo" value="dps">DPS</option>
        <option data-icon="fab fa-yahoo" value="alpha">Alpha</option>
        <option data-icon="fab fa-yahoo" value="remoteArmorRepair">Remote Armor</option>
        <option data-icon="fab fa-yahoo" value="remoteShieldRepair">Remote Shield</option>
        <option data-icon="fab fa-yahoo" value="energyNeutralization">Neutralizer</option>
        <option data-icon="fab fa-yahoo" value="sensorStrength">ECCM</option>
    </select>
    <button type="submit button-inline" id="resetFilters" class="btn btn-primary">Reset Filters</button>
</div>
<div>
    <div id="scatter" class="whitewell"></div>
    <div id="chart-row-types" class="whitewell"></div>
</div>

<table class="table" data-pagination="true" data-cache="true" data-sort-name="typeName" data-sort-order="asc" data-show-columns="true"
    id="killmails">
    <thead>
        <tr>
            <th data-field="typeName" data-formatter="killmailTypeFormatter" data-sortable="true">Type</th>
            <th data-field="rps" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">RPS</th>
            <th data-field="dps" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">DPS</th>
            <th data-field="alpha" data-visible="false" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Alpha</th>
            <th data-field="ehp" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">EHP</th>
            <th data-field="speed" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">MWD Speed</th>
            <th data-field="scanResolution" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Scan Res</th>
            <th data-visible="false" data-field="remoteArmorRepair" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Remote Armor</th>
            <th data-visible="false" data-field="remoteShieldRepair" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Remote Shield</th>
            <th data-visible="false" data-field="remoteEnergyTransfer" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Remote Energy</th>
            <th data-visible="false" data-field="energyNeutralization" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Neutralizer</th>
            <th data-visible="false" data-field="sensorStrength" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">ECCM</th>
            <th data-visible="false" data-field="signatureRadiusNoMWD" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Sig Radius</th>
            <th data-visible="false" data-field="agility" data-formatter="currencyFormatter" data-align="right" data-sortable="true">Agility</th>
            <th data-visible="false" data-field="warpSpeed" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Warp Speed</th>
            <th data-field="capacitor" data-formatter="kmCapacitorFormatter" data-align="right" data-sortable="false">Capacitor</th>
        </tr>
    </thead>
</table>

<script>




    var $killmails = $('#killmails').bootstrapTable({}),
        killmailData,
        filterValues,
        scatterChart = dc.scatterPlot("#scatter"),
        rowChartTypes = dc.rowChart("#chart-row-types");

    $.ajax({
        url: '/J/offensiveGroups',
        dataType: 'JSON',
        success: function (data) {
            $.each(data, function (key, val) {
                $('#groupID').append(
                    '<option data-icon="fa fa-rocket" value=' + val.groupID + '>' + val.groupName + '</option>'
                );
            });
            $('#groupID').selectpicker('refresh');
            $('.axisChanger').selectpicker('refresh');
            updateTable();
        },
        error: function (x, o, e) { alert(e); }
    });

    $('.axisChanger').change(function () {
        updateChart();
    });

    $('#groupID').change(function () {
        updateTable();
    });

    function updateTable() {
        $.ajax({
            url: '/J/killmailAttributes?groupID=' + $('#groupID').val(),
            dataType: 'JSON',
            success: function (data) {
                killmailData = data;
                updateChart();
            },
            error: function (x, o, e) { alert(e); }
        });
    }
    function remove_empty_bins(source_group) {
        return {
            all: function () {
                return source_group.all().filter(function (d) {
                    return d.value != 0;
                });
            }
        };
    }

    function updateChart() {
        var ndx = crossfilter(killmailData),
            xAxis = $('#xAxis').val(),
            yAxis = $('#yAxis').val(),
            nameDim = ndx.dimension(function (d) {
                return d.typeName;
            }),
            nameCount = nameDim.group().reduceSum(function (d) { return +1; }),
            nonEmptyNameCount = remove_empty_bins(nameCount),
            scatterDim = ndx.dimension(function (d) {
                return [d[xAxis], d[yAxis]];
            }),
            allDim = ndx.dimension(function (d) {
                return d;
            });

        allDim.filter(function (d) {
            if (d[xAxis] > 1 && d[yAxis] > 1)
                return d;
        });
        scatterDim.filter(function (d) {
            if (d[xAxis] > 1 && d[yAxis] > 1)
                return d;
        });
        nameDim.filter(function (d) {
            if (d[xAxis] > 1 && d[yAxis] > 1)
                return d;
        });

        rowChartTypes
            .width(250).height(500)
            .dimension(nameDim)
            .group(nonEmptyNameCount)
            .controlsUseVisibility(true)
            .elasticX(true);
        rowChartTypes.xAxis().ticks(4);

        scatterChart.width(500)
            .height(500)
            .yAxisLabel(yAxis)
            .xAxisLabel(xAxis)
            .dimension(scatterDim)
            .elasticX(true)
            .elasticY(true)
            .x(d3.scaleLinear().domain([0., 100.]))
            .y(d3.scaleLinear().domain([0., 100.]))
            .controlsUseVisibility(true)
            .excludedOpacity(0.5)
            .group(scatterDim.group());

        dc.chartRegistry.list().forEach(function (chart) {
            chart.on('filtered', function () {
                $('#killmails').bootstrapTable('refreshOptions', {
                    data: allDim.top(Infinity),
                });
            });
        });
        $('#killmails').bootstrapTable('refreshOptions', {
            data: allDim.top(Infinity),
        });
        rowChartTypes.filterAll();
        scatterChart.filterAll();
        allDim.filterAll();
        dc.renderAll();
        $('#resetFilters').click(function () {
            rowChartTypes.filterAll();
            scatterChart.filterAll();
            allDim.filterAll();
            dc.renderAll();
        });
    }
</script> {{end}}