{{define "OpenGraph"}}
<meta property="og:title" content="EVEData: Who are killing players?" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://www.evedata.org/images/icon.png" />
<meta property="og:description" content="Who are killing players the most in different areas over the last two years." />
{{end}}
{{define "Head"}}
{{ template "bootstrap-table" . }}
{{ template "d3-5" .}}
{{ template "crossfilter" .}}
{{ template "dc-3" .}}

{{end}}
{{define "body"}}
<h3>Killmail Area by Entity Statistics</h3>
Last two years of killmails by the four areas and who caused the killmail.<br>
Count is distinct to 1 killmail per entity, not per attacker.<br>
<div id="graphContainer" style="width: 800px;" class="container whitewell">

    <div id="spreadGraph"></div>
    <div id="whoGraph"></div>

</div>
<script>


    $.ajax({
        url: '/J/killmailAreaEntityStatistics',
        dataType: 'JSON',
        success: function (data) {
            loadGraphs(data);
        },
        error: function (x, o, e) { alert(e); }
    });


    function loadGraphs(data) {
        var ndx = crossfilter(data),
            spreadDimension = ndx.dimension(function (d) {
                return d.area;
            }),
            spreadGroup = spreadDimension.group().reduceSum(function (d) { return d.kills; }),
            spreadPie = dc.pieChart("#spreadGraph");
        spreadPie
            .width(300)
            .height(300)
            .innerRadius(0)
            .dimension(spreadDimension)
            .group(spreadGroup)
            .legend(dc.legend()).on('pretransition', function (chart) {
                chart.selectAll('text.pie-slice').text(function (d) {
                    return d.data.key + ' ' + dc.utils.printSingleValue((d.endAngle - d.startAngle) / (2 * Math.PI) * 100) + '%';
                })
            });

        var whoDimension = ndx.dimension(function (d) {
            return [d.name, d.id];
        }),
            whoGroup = whoDimension.group().reduceSum(function (d) { return d.kills; }),
            whoPie = dc.pieChart("#whoGraph");

        whoPie.width(750)
            .height(750)
            .innerRadius(100)
            .slicesCap(40)

            .dimension(whoDimension)
            .group(whoGroup).legend(dc.legend());

        whoPie.on('pretransition', function (chart) {
            chart.selectAll('text.pie-slice').text(function (d) {
                if (((d.endAngle - d.startAngle) / (2 * Math.PI) * 100) > 1)
                    return d.data.key[0] + ' ' + dc.utils.printSingleValue((d.endAngle - d.startAngle) / (2 * Math.PI) * 100) + '%';
            })
            chart.selectAll('.dc-legend-item text')
                .text('')
                .append('tspan')
                .text(function (d) { console.log(d); return simpleVal(d.data) })
                .append('tspan')
                .attr('x', 80)

                .html(function (d) {
                    if (d.name == "Others")
                        return d.name;

                    return `<a href="/J/findEntity?id=${d.name[1]}" target="entity">${d.name[0]}</a>`;
                });
        });
        dc.renderAll();
    }
</script>
{{end}}