{{define "OpenGraph"}}
<meta property="og:title" content="EVEData: Killmail Attributes" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://www.evedata.org/images/icon.png" />
<meta property="og:description" content="Browse the 10,000 most recent killmails by ship attributes. Find the flavor of the month, or whacky fringe fits." />
{{end}}
{{define "Head"}}
{{ template "bootstrap-table" . }}
{{ template "libkm" . }}
{{ template "d3-5" .}}
{{ template "crossfilter" .}}
{{ template "dc-3" .}}
<style>
    .dc-chart g.row text {
        fill: black;
    }
</style>
{{end}}
{{define "body"}}
<div class="well">
    <h3>Killmail Attribute Browser</h3>
    Data represents 10,000 most recent killmails for a ship group type. Filter by drawing a brush on the scatterplot
    and clicking the ship type. Some attributes are hidden and can be added to the table.
    <div>
    </div>
    <select class="selectpicker form-control" data-width="auto" name="groupID" id="groupID"></select>
    <select class="selectpicker form-control axisChanger" data-width="auto" name="xAxis" id="xAxis">
        <option data-icon="fa fa-times" value="rps">eHP/s</option>
        <option data-icon="fa fa-times" value="ehp">EHP</option>
        <option data-icon="fa fa-times" value="speed">MWD Speed</option>
    </select>
    <select class="selectpicker form-control axisChanger" data-width="auto" name="yAxis" id="yAxis">
        <option data-icon="fab fa-yahoo" value="dps">DPS</option>
        <option data-icon="fab fa-yahoo" value="alpha">Alpha</option>
        <option data-icon="fab fa-yahoo" value="remoteArmorRepair">Remote Armor</option>
        <option data-icon="fab fa-yahoo" value="remoteShieldRepair">Remote Shield</option>
        <option data-icon="fab fa-yahoo" value="energyNeutralization">Neutralizer</option>
        <option data-icon="fab fa-yahoo" value="sensorStrength">ECCM</option>
    </select>
    <div style="position: relative; display: inline-block; width: 140px">
        <input class="form-control" name="value" id="value" type="number" min=0 maxlength=5 placeholder="Max Value (M)">
    </div>
    <div style="position: relative; display: inline-block; width: 120px">
        <input class="form-control" name="points" id="points" type="number" min=0 maxlength=2 placeholder="Min Points">
    </div>

    <button type="submit button-inline" id="resetFilters" class="btn btn-primary">Reset Filters</button>
</div>
<div>
    <div id="scatter" class="whitewell"></div>
    <div id="chart-row-types" class="whitewell"></div>
</div>

<table class="table" data-pagination="true" data-cache="true" data-sort-name="typeName" data-sort-order="asc"
    data-show-columns="true" id="killmails">
    <thead>
        <tr>
            <th data-field="typeName" data-formatter="killmailFormatter" data-sortable="true">Type</th>
            <th data-field="rps" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">eHP/s</th>
            <th data-field="dps" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">DPS</th>
            <th data-field="alpha" data-visible="false" data-formatter="numberRound0Formatter" data-align="right"
                data-sortable="true">Alpha</th>
            <th data-field="ehp" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">EHP</th>
            <th data-field="speed" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">MWD
                Speed</th>
            <th data-field="scanResolution" data-formatter="numberRound0Formatter" data-align="right" data-sortable="true">Scan
                Res</th>
            <th data-visible="false" data-field="remoteArmorRepair" data-formatter="numberRound0Formatter" data-align="right"
                data-sortable="true">Remote Armor</th>
            <th data-visible="false" data-field="remoteShieldRepair" data-formatter="numberRound0Formatter" data-align="right"
                data-sortable="true">Remote Shield</th>
            <th data-visible="false" data-field="remoteEnergyTransfer" data-formatter="numberRound0Formatter"
                data-align="right" data-sortable="true">Remote Energy</th>
            <th data-visible="false" data-field="energyNeutralization" data-formatter="numberRound0Formatter"
                data-align="right" data-sortable="true">Neutralizer</th>
            <th data-visible="false" data-field="sensorStrength" data-formatter="numberRound0Formatter" data-align="right"
                data-sortable="true">ECCM</th>
            <th data-visible="false" data-field="signatureRadiusNoMWD" data-formatter="numberRound0Formatter"
                data-align="right" data-sortable="true">Sig Radius</th>
            <th data-visible="false" data-field="agility" data-formatter="currencyFormatter" data-align="right"
                data-sortable="true">Agility</th>
            <th data-visible="false" data-field="warpSpeed" data-formatter="numberRound0Formatter" data-align="right"
                data-sortable="true">Warp Speed</th>
            <th data-field="capacitor" data-formatter="kmCapacitorFormatter" data-align="right" data-sortable="false">Capacitor</th>
        </tr>
    </thead>
</table>

<script>
    var $killmails = $('#killmails').bootstrapTable({}),
        killmailData,
        filterValues,
        scatterChart = dc.scatterPlot("#scatter"),
        rowChartTypes = dc.rowChart("#chart-row-types"),
        urlVars = getUrlVars(),
        originalBrush,
        originalShipFilter,
        firstPass = true;

    if (urlVars["brush"] != undefined)
        originalBrush = JSON.parse(decodeURI(urlVars["brush"]));
    if (urlVars["shipFilter"] != undefined)
        originalShipFilter = JSON.parse(decodeURI(urlVars["shipFilter"]));

    $('#points').val(urlVars["points"]);
    $('#value').val(urlVars["value"]);

    $.ajax({
        url: '/J/offensiveGroups',
        dataType: 'JSON',
        success: function (data) {
            $.each(data, function (key, val) {
                $('#groupID').append(
                    '<option data-icon="fa fa-rocket" value=' + val.groupID + '>' + val.groupName + '</option>'
                );
            });
            if (urlVars["groupID"] != undefined)
                $('select[name=groupID]').val(urlVars["groupID"]);
            if (urlVars["x"] != undefined)
                $('select[name=xAxis]').val(urlVars["x"]);
            if (urlVars["y"] != undefined)
                $('select[name=yAxis]').val(urlVars["y"]);
            $('#groupID').selectpicker('refresh');
            $('.axisChanger').selectpicker('refresh');
            updateTable();
        },
        error: function (x, o, e) { alert(e); }
    });

    $('.axisChanger').change(function () {
        updateChart();
    });

    $('#groupID').change(function () {
        updateTable();
    });
    $('#points').change(function () {
        updateTable();
    });
    $('#value').change(function () {
        updateTable();
    });

    function killmailFormatter(value, row) {
        new Killmail(row.id, function (k) {
            var v = k.formatValue(k.getMailValue()),
                vc,
                victim = k.getVictim();

            switch (v.indicator) {
                case "t":
                    vc = "#ac2f00"; break;
                case "b":
                    vc = "#cb6808"; break;
                case "m":
                    vc = "#f1b23a"; break;
                case "k":
                    vc = "#f1b23a"; break;
                default:
                    vc = "#ffffff"; break;
            }

            var attributes = "",
                att = k.getShipAttributes();
            if (att["totalWarpScrambleStrength"] != undefined) {
                attributes += `<img title="${simpleVal(att["totalWarpScrambleStrength"])} disrupt strength" src="//imageserver.eveonline.com/type/3242_32.png"  style="width:25px; height: 25px">`
            }

            if (att["stasisWebifierStrength"] != undefined && att["stasisWebifierStrength"] != -100) {
                attributes += `<img title="${simpleVal(att["stasisWebifierStrength"])} web strength" src="//imageserver.eveonline.com/type/526_32.png"  style="width:25px; height: 25px">`
            }

            if (att["warpScrambleStatus"] != undefined) {
                attributes += `<img title="${simpleVal(att["warpScrambleStatus"])} warp core stabilization" src="//imageserver.eveonline.com/type/10998_32.png"  style="width:25px; height: 25px">`
            }

            var h = `
                <div style="height:52px">
                    <div style="float: left; width: 32px">
                        <a href="/killmail?id=${row.id}" target="kill"><img class="rounded-8" src="//imageserver.eveonline.com/type/${victim.ship_type_id}_32.png" 
                        title="${k.getName(victim.ship_type_id)}" style="width:32px; height: 32px"></a>
                    </div>
                    <div style="float: left; width: 32px">
                    <a href="/killmail?id=${row.id}" target="kill"><img class="rounded-8" src="//imageserver.eveonline.com/${k.getPortait(victim)}" 
                            title="${k.getName(k.resolveEntity(victim))}" style="width:32px; height: 32px"></a>
                    </div>
                    <div style="float: left; height: 32px; width: 120px;">
                        ${k.getName(k.resolveEntity(victim))}<br>
                        <b style="color: ${vc}">${v.value.toFixed(1)}${v.indicator} ${k.getName(victim.ship_type_id)} (${k.getAttackerCount()})</b>
                    </div>
                    <div style="float: left; clear: left; ">${attributes} </div>
                </div>
                `;

            $("#killmail" + row.id).html(h);
        });

        return `<div id="killmail${row.id}" style="border: #000 1px; padding: 0px;"></div>`;
    }

    function updateTable() {
        $.ajax({
            url: '/J/killmailAttributes?groupID='
                + $('#groupID').val()
                + "&value=" + $('#value').val()
                + "&points=" + $('#points').val(),
            dataType: 'JSON',
            success: function (data) {
                killmailData = data;
                updateChart();
            },
            error: function (x, o, e) { alert(e); }
        });
    }
    function remove_empty_bins(source_group) {
        return {
            all: function () {
                return source_group.all().filter(function (d) {
                    return d.value != 0;
                });
            }
        };
    }

    function updateURL() {
        var shipFilter = JSON.stringify(rowChartTypes.filters());
        if (shipFilter.substring(0, 2) != "[[") {
            shipFilter = `[${shipFilter}]`;
        }
        var url = '?groupID=' + $('#groupID').val()
            + "&value=" + $('#value').val()
            + "&x=" + $('#xAxis').val()
            + "&y=" + $('#yAxis').val()
            + "&points=" + $('#points').val()
            + "&brush=" + encodeURI(JSON.stringify(scatterChart.filter()))
            + "&shipFilter=" + encodeURI(shipFilter);

        history.replaceState("", "Killmail Attribute Browser", url);
    }

    function updateChart() {
        updateURL();
        var ndx = crossfilter(killmailData),
            xAxis = $('#xAxis').val(),
            yAxis = $('#yAxis').val(),
            nameDim = ndx.dimension(function (d) {
                return d.typeName;
            }),
            nameCount = nameDim.group().reduceSum(function (d) { return +1; }),
            nonEmptyNameCount = remove_empty_bins(nameCount),
            scatterDim = ndx.dimension(function (d) {
                return [d[xAxis], d[yAxis]];
            }),
            allDim = ndx.dimension(function (d) {
                return d;
            });

        allDim.filter(function (d) {
            if (d[xAxis] > 1 && d[yAxis] > 1)
                return d;
        });
        scatterDim.filter(function (d) {
            if (d[xAxis] > 1 && d[yAxis] > 1)
                return d;
        });
        nameDim.filter(function (d) {
            if (d[xAxis] > 1 && d[yAxis] > 1)
                return d;
        });

        rowChartTypes
            .width(250).height(500)
            .dimension(nameDim)
            .group(nonEmptyNameCount)
            .controlsUseVisibility(true)
            .elasticX(true);
        rowChartTypes.xAxis().ticks(4);

        scatterChart.width(500)
            .height(500)
            .yAxisLabel(yAxis)
            .xAxisLabel(xAxis)
            .dimension(scatterDim)
            .elasticX(true)
            .elasticY(true)
            .x(d3.scaleLinear().domain([0., 100.]))
            .y(d3.scaleLinear().domain([0., 100.]))
            .controlsUseVisibility(true)
            .excludedOpacity(0.5)
            .group(scatterDim.group());


        dc.chartRegistry.list().forEach(function (chart) {
            chart.on('filtered', function () {
                $('#killmails').bootstrapTable('refreshOptions', {
                    data: allDim.top(Infinity),
                });
                updateURL();
            });
        });
        $('#killmails').bootstrapTable('refreshOptions', {
            data: allDim.top(Infinity),
        });
        rowChartTypes.filterAll();
        scatterChart.filterAll();
        allDim.filterAll();
        dc.renderAll();
        if (firstPass) {
            firstPass = false;
            scatterChart.applyBrushSelection(originalBrush);
            rowChartTypes.filter(originalShipFilter);
            dc.redrawAll();
        }

        $('#resetFilters').click(function () {
            rowChartTypes.filterAll();
            scatterChart.filterAll();
            allDim.filterAll();
            dc.renderAll();
        });
    }
</script> {{end}}