{{define "Head"}}
{{ template "bootstrap-table" . }}
{{end}}
{{define "body"}} {{template "checkAuthentication" .}}

<div class="well">
<h3>Locator Responses</h3>
All locator responses from your characters or any shared to corporations or alliances
they are a part of will be listed below.
<h4>To list responses:</h4>
<a href="/account">Add characters</a> to your account with notification permissions.
<h4>Share responses with others:</h4>
<p>
	<a href="/shares">Add entities you wish to share with</a> and they can view your results instantly.</p>
</div>
<div class="insideContainer well">
	<table id="locatorsTable" class="table" data-sort-name="time" data-sort-order="desc"
	    data-url="/U/locatorResponses" data-toggle="table" data-cache="false" data-search="true"
	    data-show-refresh="true" data-show-columns="true" data-minimum-count-columns="2"
	    data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" data-show-footer="false"
	    data-side-pagination="client" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th data-field="characterName" data-sortable="true" data-formatter="characterFormatterName">Character</th>
				<th data-field="systemName" data-sortable="true">System</th>
				<th data-field="constellationName" data-sortable="true" data-visible="false">Constellation</th>
				<th data-field="regionName" data-sortable="true">Region</th>
				<th data-field="corporationName" data-sortable="true" data-formatter="corporationFormatter">Corporation</th>
				<th data-field="allianceName" data-sortable="true" data-formatter="allianceFormatter">Alliance</th>
				<th data-field="time" data-sortable="true" data-visible="true">Time Found</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
{{end}}