{{define "body"}}
<h3>Share Locator Results</h3>
{{template "checkAuthentication" .}}
<p>Add entities that you wish to share locator agent searchs with. These entities will be able to see locator responses from any character on the account page with the Notification Tools scope.</p>
	<div class="table-responsive">
		<div class="toolbar locatorSharestokenToolbar" id="locatorSharestokenToolbar">
			<div class="dropdown">
				<ul class="nav navbar navbar-nav fixNav" id="entitySearchContainer">
					<input type="text" class="typeahead fixNav" placeholder="Search" name="entity">
					<a class="addlocatorShares btn btn-default" href="javascript:">Add Entity</a>
				</ul>
			</div>
		</div>

		<table class="table" data-show-refresh="true" data-cache="false" data-toolbar=".locatorSharestokenToolbar"
			data-url="/U/locatorShares" id="locatorSharestable">
			<thead>
				<tr>
					<th data-field="entityName" data-formatter="entityFormatter">Entity</th>
					<th data-align="center" data-events="actionEvents"
					data-field="action" data-formatter="LocationShareActionsFormatter">
					Action</th>
				</tr>
			</thead>
		</table>
	</div>

	<script>


var entitySearch = new Bloodhound({
			sufficient: 100,
			limit: 100,
			datumTokenizer: function (datum) {
				return Bloodhound.tokenizers.whitespace(datum.value);
			},
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			remote: {
				url: '/J/searchEntities?q=%QUERY',
				filter: function (entitySearch) {
					return $.map(entitySearch, function (s) {
						return {
							value: 	s.name,
							id:		s.id,
							type:	s.type
						};
					});
				}
			}
		});
		// Initialize the Bloodhound suggestion engine
		entitySearch.initialize();
		var datum;
		var selectedID;
		
		$('#entitySearchContainer .typeahead').typeahead(null, {
			name: 'entitySearch',
			limit: 100,
			display: 'value',
			source: entitySearch.ttAdapter(),
			templates: {
				empty: [
				'<div class="empty-message">',
					'Nothing Found',
				'</div>'
				].join('\n'),
				suggestion: function(data) {
					return '<div><strong>'+data.value+'</strong> – '+data.type+'</div>';
				}
			}
		}).on('typeahead:selected', function(obj, d, name) {
			selectedID = d.id;
		});
		
		var $locatorSharestable = $('#locatorSharestable').bootstrapTable({url: "/U/locatorShares"}, "changeLocale", "en_US");
				
		$(function () {
			// locatorShares token click event
			$('.addlocatorShares').click(function () {
				$.ajax({
					type: "POST",
					url: "/U/locatorShares",
					data: {entityID: selectedID}
					})
					.done(function() {
						$('#entitySearchContainer .typeahead').typeahead('val','');
						$locatorSharestable.bootstrapTable('refresh');
 					 })
					.fail(function() {
						alert( "Failed to add entity" );
					});
			});
		});

		function accountNameFormatter(value, row) {
			var scopes = row.scopes.replace(/\s+/g,  "\n");
			return '<i class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="'+ scopes +'"><\/i> &nbsp; ' + value;
		}

		function LocationShareActionsFormatter(value, row) {
			
			return [
				'<a class="removelocatorShares" href="javascript:" title="Delete Item"><i class="glyphicon glyphicon-remove-circle"><\/i><\/a>',
			].join('');
		}
		// update and delete events
		window.actionEvents = {
			'click .removelocatorShares': function (e, value, row) {
				if (confirm('Are you sure you want to stop sharing with this entity?')) {
					$.ajax({
						url: "/U/locatorShares?entityID=" + row.id,
						type: 'delete',
						success: function () {
							$locatorSharestable.bootstrapTable('refresh');
							showAlert('Delete item successful!', 'success');
						},
						error: function () {
							showAlert('Delete item error!', 'danger');
						}
					})
				}
			}
		};
	</script>
{{end}}