{{define "body"}}
<div class="container">
    <header class="jumbotron hero-spacer">
        <h1>EVE Online Intelligence Data</h1>
        <h2>Tools and data you need to succeed in EVE Online
            <h2>
                <p> Whether your PvP is blowing things up, outbidding others on the market, or finding the edge on where to cash in your loyalty points; we have the tools that will help you maximize your effort!
                </p>
                <p>The tools are completely free and 100% open source.</p>
    </header>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/images/contactSync.png" alt="War Contact Syncronization">
                <div class="caption">
                    <h3>War Contact Syncronization</h3>
                    <p>Automaticlly update your neutral alt contact list with current and pending wars.</p>
                    <p>
                        <a href="/contactSync" class="btn btn-default">Show Me</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/images/iskperlp.png" alt="ISK per Loyalty Point">
                <div class="caption">
                    <h3>ISK per Loyalty Point</h3>
                    <p>Detailed list of which items are trending to convert your LP into ISK.</p>
                    <p>
                        <a href="/iskPerLP" class="btn btn-default">Show Me</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/images/localintel.png" alt="Local Intel Summary">
                <div class="caption">
                    <h3>Local Intel Summary</h3>
                    <p>Copy and paste characters from the local chat window and get a rapid summary of who is who.</p>
                    <p>
                        <a href="/localIntel" class="btn btn-default">Show Me</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/images/arbitrage.png" alt="Arbitrage Calculator">
                <div class="caption">
                    <h3>Arbitrage Calculator</h3>
                    <p>Find items with large margins between buy and sell price to turn around for profit.</p>
                    <p>
                        <a href="/arbitrageCalculator" class="btn btn-default">Show Me</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}