{{define "body"}}
<h3>Station Stocker</h3>
Find items to sell in different regions based on sell price. Any highlighted items indicate you already have sell orders in the destination region.
<div class="toolbar marketToolbar" id="LocationContainer">
    <div id="marketToolbarContainer" class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <lable>Base Market Region:</lable>
                <br>
                <select class="selectpicker form-control regions" data-width="auto" name="marketRegionID" id="marketRegionID"></select>
            </div>
            <div class="col-xs-4">
                <lable>Minimum Markup Percentage:</lable>
                <input class="form-control" name="markup" id="markup" type="number" min=0 max=90 maxlength=2 value=20>
            </div>
            <div class="col-xs-4">
                <lable>Sell At Region:</lable>
                <br>
                <select class="selectpicker form-control regions" data-width="auto" name="destinationRegionID" id="destinationRegionID"></select>
            </div>
        </div>
    </div>
    <button type="submit button-inline" id="submit" class="btn btn-primary">Apply</button>
</div>

<table class="table" data-cache="true" data-toolbar=".marketToolbar" data-sort-name="typeName" data-sort-order="asc" data-show-columns="true"
    data-row-style="warningFormatter" id="marketItems">
    <thead>
        <tr>
            <th data-field="typeName" data-formatter="typeFormatter" data-sortable="true">Type</th>
            <th data-field="destinationTraded" data-formatter="numberFormatter" data-align="right" data-sortable="true"># Traded</th>
            <th data-field="destinationVolume" data-formatter="numberFormatter" data-align="right" data-sortable="true">ISK Volume</th>
            <th data-field="marketPrice" data-formatter="numberFormatter" data-align="right" data-sortable="true">Market Price</th>
            <th data-field="destinationPrice" data-formatter="numberFormatter" data-align="right" data-sortable="true">Sell at Price</th>
        </tr>
    </thead>
</table>

<script>
    function markupFormatter(value, row) {
        return numberCommafy(getPrice(row).toFixed(2));
    }

    var $marketItems = $('#marketItems').bootstrapTable({});

    function warningFormatter(row, index) {
        if (row.selling >= 1) {
            return {
                classes: 'danger'
            };
        }
        return {};
    }

    $.ajax({
        url: '/J/marketRegions',
        dataType: 'JSON',
        success: function (data) {
            $.each(data, function (key, val) {
                if (val.orders > 10000) {
                    $('#marketRegionID').append(
                        '<option value=' + val.regionID + '>' + val.regionName + '</option>'
                    );
                }
                $('#destinationRegionID').append(
                    '<option value=' + val.regionID + '>' + val.regionName + '</option>'
                );
            });

            $('#marketRegionID').val(10000002);
            $('#destinationRegionID').val(10000032);
            $('.regions').selectpicker('refresh');
            updateTable();
        },
        error: function () { }
    });

    $('#submit').click(function () {
        updateTable();
    });

    function updateTable() {
        $('#marketItems').bootstrapTable('refreshOptions', {
            url: '/J/marketStationStocker' +
                '?marketRegionID=' + $('#marketRegionID option:selected').attr("value") +
                '&destinationRegionID=' + $('#destinationRegionID option:selected').attr("value") +
                '&markup=' + $('#markup').val()
        });
    }
</script> {{end}}