{{define "body"}}
<h3>Mutaplasmid Cost Estimator</h3>
Estimate the value of a mutated module based on known sold prices of known modules.
<br>
<br> This is intended as an estimate only, actual price is always what someone is willing
to pay for a module at a location. The further from known modules the attributes
go, the worse the confidence will become.
<br>
<br>
<h5>Type: &nbsp;
    <select class="selectpicker" data-width="auto" name="mutaplasmidType" id="mutaplasmidType"></select>
</h5>
</div>

<div id="graphs" class="whitewell">

</div>
<div class="well" id="values">
    <h6>Estimated Price:
        <label id="estimatedPrice"></label> ISK
        <font size=1>&plusmn;
            <label id="priceConfidence"></label>
        </font>
    </h6>
</div>

<style>
    body {
        font: 12px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        stroke-width: 1px;
    }

    .line {
        fill: none;
        stroke: black;
    }

    .line.upper,
    .line.lower {
        stroke-dasharray: 5, 5;
    }

    .marker {
        stroke: black;
        stroke-width: 2px;
    }
</style>
<script src="/js/science.v1.min.js"></script>
<script src="/js/regression.js"></script>

<script>
    var graphs = JSON.parse({{.Graphs }}),
    mutaplasmidTypes = {{.Types }},
    dataSet = JSON.parse({{.Data }}),
        currentType = decodeURIComponent(getUrlVars()["type"]);

    if (currentType == undefined) {
        currentType = "Warp Disruptor";
    }

    mutaplasmidTypes.sort();
    mutaplasmidTypes.forEach(function (d) {
        $('#mutaplasmidType').append(
            '<option value="' + d + '">' + d + '</option>');
    });

    $('#mutaplasmidType').val(currentType);
    $('#mutaplasmidType').on("changed.bs.select", function () {
        window.location.replace("/mutaplasmidEst?type=" + $('#mutaplasmidType').val());
    });

    var i = graphs.length;
    while (i--) {
        graphs[i].data = d3.mean(dataSet, pluck(graphs[i].key))
        var min = d3.min(dataSet, pluck(graphs[i].key)),
            max = d3.max(dataSet, pluck(graphs[i].key));
        if (min == max || min >= max - 1) {
            graphs.splice(i, 1);
        }
    }

    for (i = 0; i < dataSet.length; i++) {
        var t = dataSet[i];
        if (t.typeName.indexOf(" II") > 0) {
            graphs.forEach(function (d) {
                d.data = t[d.key];
            });
            break;
        }
    }


    var margin = { top: 10, left: 30, bottom: 50, right: 10 },
        width = 250 - margin.left - margin.right,
        height = 250 - margin.top - margin.bottom;

    var maxPrice = d3.max(dataSet, pluck("price")) / 1000000;
    var lineChart = d3.lineChart()
        .width(width)
        .height(height)
        .yExtent([0, maxPrice * 1.1]);

    var values = d3.select("#values");

    graphs.forEach(function (d) {
        values.append("foreignObject")
            .html(function () {
                return '<input class="event-value" style="text-align: right;" id="value_' + d.key + '" type="text" value="" /> &nbsp; <lable>' + d.name + '</label><br>'
            });

        var container = d3.select("#graphs").append("span")
            .attr("class", " " + d.key)

        var svg = container.append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("class", "canvas")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.append("line")
            .attr("class", "marker");

        svg.append("g").attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")");

        svg.append("text")
            .attr("transform", "translate(0," + height + ")")
            .attr("class", "label")
            .attr("x", width)
            .attr("y", -2)
            .style("text-anchor", "end")
            .text(d.name);

        svg.append("g").attr("class", "y axis");

        svg.append("text")
            .attr("class", "label")
            .attr("y", 0)
            .attr("dx", ".71em")
            .style("text-anchor", "start")
            .text("Price (m)")

        svg.append("rect")
            .attr("class", "event-rect")
            .attr("id", d.key)
            .attr("width", width)
            .attr("height", height)
            .style("fill-opacity", 0);
    });

    var model = lm()
        .y(function (d) { return d.price / 1000000; })
        .X(function (d) {
            var v = [1];
            var mul = 1;
            graphs.forEach(function (f) {
                v.push(d[f.key]);
                mul *= d[f.key];
            });
            v.push(mul);
            graphs.forEach(function (f) {
                v.push(Math.pow(d[f.key], 4))
            });
            return v
        }).data(dataSet);

    var fit = model();
    console.log(fit);

    d3.selectAll(".event-value")
        .on("change", function () {
            var value = parseFloat(this.value),
                key = this.id.substring(6, this.id.length);

            if (isNaN(value))
                return;

            graphs.forEach(function (d) {
                if (key == d.key) {
                    d.interval = renderInterval(d.key, value);
                    value = d.interval.xScale.invert(d.interval.xScale(value));
                    d.data = value;
                    setValue(d.key, d.interval.data, value);

                    d3.select("." + key + " .marker")
                        .attr("x1", d.interval.xScale(value))
                        .attr("x2", d.interval.xScale(value));
                }
            });

            graphs.forEach(function (d) {
                if (key != d.key) {
                    d.interval = renderInterval(d.key, value);
                }
            });
        });


    d3.selectAll(".event-rect")
        .on("click", function () {
            var x = d3.mouse(this)[0],
                key = this.id,
                invert;

            graphs.forEach(function (d) {
                if (key == d.key) {
                    d.interval = renderInterval(d.key, d.data);
                    d.data = d.interval.xScale.invert(x);
                    invert = d.data;
                    setValue(d.key, d.interval.data, d.data);
                }
            });

            graphs.forEach(function (d) {
                if (key != d.key) {
                    d.interval = renderInterval(d.key, invert);
                }
            });

            d3.select("." + this.id + " .marker")
                .attr("x1", x)
                .attr("x2", x);
        });

    $(document).ready(function () {
        graphs.forEach(function (d) {
            d.interval = renderInterval(d.key, d.data);

            d3.select("." + d.key + " .marker")
                .attr("x1", d.interval.xScale(d.data))
                .attr("x2", d.interval.xScale(d.data))
                .attr("y1", height)
                .attr("y2", 0);
        });

        graphs.forEach(function (d) {
            d.interval = renderInterval(d.key, d.data);
            setValue(d.key, d.interval.data, d.data)
        });
    });

    function renderInterval(key, val) {
        var data = sequence(dataSet, pluck(key), dataSet.length)
            .map(function (val) {
                var l = {};
                graphs.forEach(function (d) {
                    if (key == d.key) {
                        l[key] = val;
                    } else {
                        l[d.key] = d.data;
                    }
                });

                var interval = fit.getRegressionInterval(l);
                var ret = {
                    y_pred: interval.y_pred,
                    y_upper: interval.y_upper,
                    y_lower: interval.y_lower
                };

                graphs.forEach(function (d) {
                    if (key == d.key) {
                        ret[key] = val;
                    }
                });

                return ret;
            });

        var chart = lineChart
            .x(function (d) { return d[key]; });

        d3.select("." + key + " svg").select(".canvas")
            .call(chart.y(pluck("y_pred")), "y line", data)
            .call(chart.y(pluck("y_lower")), "lower line", data)
            .call(chart.y(pluck("y_upper")), "upper line", data);

        d3.select("." + key + " svg").select(".x.axis").call(chart.xAxis());
        d3.select("." + key + " svg").select(".y.axis").call(chart.yAxis());

        return {
            data: data,
            xScale: chart.xScale(),
            yScale: chart.yScale()
        };
    }

    function setValue(key, data, val) {
        var bisect = d3.bisector(function (d) { return d[key]; }).left,
            pos = bisect(data, val, 0, data.length),
            d0 = data[pos - 1],
            d1 = data[pos],
            yval = val - d0[key] > d1[key] - val ? d1 : d0;

        $('#value_' + key).val(Math.round(100 * val) / 100);
        $('#estimatedPrice').text(currencyFormatter(1000000 * yval.y_pred));
        $('#priceConfidence').text(currencyFormatter(1000000 * (yval.y_upper - yval.y_lower)));
    }

    function pluck(key) { return function (d) { return d[key]; }; }

    function sequence(data, accessor, length_out) {
        var extent = d3.extent(data, accessor);
        var step = (extent[1] - extent[0]) / length_out;
        return d3.range(extent[0] * 0.5, extent[1] * 1.5, step);
    }
</script> {{end}}