{{define "Head"}}
{{ template "bootstrap-table" . }}
{{end}}
{{define "body"}}
<div class="well">
	<h3>Active Wars</h3>
</div>
<div class="insideContainer well">
	<table id="activeWarTable" class="table" data-sort-name="warKills" data-sort-order="desc" data-url="/J/activeWars"
	 data-toggle="table" data-cache="true" data-search="true" data-show-refresh="true" data-show-columns="true"
	 data-minimum-count-columns="2" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" data-show-footer="false"
	 data-side-pagination="client" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th data-field="timeStarted" data-sortable="true" data-visible="false">Time Started</th>
				<th data-field="timeFinished" data-sortable="true" data-visible="false">Time Finished</th>
				<th data-field="aggressorName" data-formatter="aggressorFormatter">Aggressor</th>
				<th data-field="efficiency" data-sortable="true" data-formatter="capabilityFormatter">Aggressor Capability</th>
				<th data-field="defenderName" data-formatter="defenderFormatter">Defender</th>
				<th data-field="warKills" data-sortable="true">Kills in War</th>
				<th data-field="warLosses" data-sortable="true">Losses in War</th>
				<th data-field="openForAllies" data-sortable="true" data-visible="false">Open For Allies</th>
				<th data-field="mutual" data-sortable="true" data-visible="false">Mutual</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
{{end}}